<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- UIkit CSS -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.20.8/dist/css/uikit.min.css" />

  <!-- UIkit JS -->
  <script src="https://cdn.jsdelivr.net/npm/uikit@3.20.8/dist/js/uikit.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/uikit@3.20.8/dist/js/uikit-icons.min.js"></script>
  
  <!--fontawesome-->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/X.X.X/css/font-awesome.min.css">
  <link rel="stylesheet" href="assets/all.min.css">
  

</head>


<body >
    
    <div class="uk-panel uk-padding uk-background-primary uk-light">
        <a class="uk-logo" href="{{url_for('welcome')}}">SOILSMART</a>
    </div>
    
    
    <h1 style="text-align: center; text-decoration: underline; color: rgb(26, 132, 238); font-family: 'Open Sans', Arial, sans-serif; ;">{{ data1 }}</h1>
    <h1 style="text-align: center;">Crop Recommendation</h1>
    
    {% if data1 == 'rice' %}
    <div class="uk-container uk-text-center">  <div class="uk-inline uk-card uk-card-default uk-card-body uk-border-rounded">
        <img src="{{ url_for('static', filename='rice.jpg') }}" alt="Urea" class="uk-border-rounded uk-width-1-2@m">
        <a class="uk-position-absolute uk-transform-center" style="left: 50%; text-decoration: none; top: 50%" href="#" uk-marker> Rice</a>
      </div>
     <p style="font-style: italic; color: dodgerblue;text-align: center; ">Recommended Crop: Rice</p>
    
      
    
    {% elif data1 == 'maize' %}  
    <div class="uk-container uk-text-center">  <div class="uk-inline uk-card uk-card-default uk-card-body uk-border-rounded">
        <img src="{{ url_for('static', filename='maize.jpeg') }}" alt="Urea" class="uk-border-rounded uk-width-1-2@m">
        <a class="uk-position-absolute uk-transform-center" style="left: 50%; text-decoration: none; top: 50%" href="#" uk-marker> Maize</a>
      </div>
     <p style="font-style: italic; color: dodgerblue;text-align: center; ">Recommended Crop:maize</p>
    
    {% elif data1 == 'chickpea' %} 
     <div class="uk-container uk-text-center">  <div class="uk-inline uk-card uk-card-default uk-card-body uk-border-rounded">
        <img src=" {{ url_for('static', filename='chickpea.jpeg') }}" alt="Urea" class="uk-border-rounded uk-width-1-2@m">
        <a class="uk-position-absolute uk-transform-center" style="left: 50%; text-decoration: none; top: 50%" href="#" uk-marker> Chickpea</a>
      </div>
     <p style="font-style: italic; color: dodgerblue;text-align: center; ">Recommended Crop: Chickpea</p>
    
     
    {% elif data1 == 'kidneybeans' %}  
    <div class="uk-container uk-text-center">  <div class="uk-inline uk-card uk-card-default uk-card-body uk-border-rounded">
       <img src="{{ url_for('static', filename='kidneybeans.jpeg') }}" alt="Urea" class="uk-border-rounded uk-width-1-2@m">
       <a class="uk-position-absolute uk-transform-center" style="left: 50%; text-decoration: none; top: 50%" href="#" uk-marker> Kidneybeans</a>
     </div>
    <p style="font-style: italic; color: dodgerblue;text-align: center; ">Recommended Crop: Kidneybeans</p>
    
    
    {% elif data1 == 'pigeonpeas' %} 
     <div class="uk-container uk-text-center">  <div class="uk-inline uk-card uk-card-default uk-card-body uk-border-rounded">
        <img src="{{ url_for('static', filename='pigeonpeas.jpeg') }}" alt="Urea" class="uk-border-rounded uk-width-1-2@m">
        <a class="uk-position-absolute uk-transform-center" style="left: 50%; text-decoration: none; top: 50%" href="#" uk-marker>Pigeonpeas</a>
      </div>
     <p style="font-style: italic; color: dodgerblue;text-align: center; ">Recommended Crop: Pigeonpeas</p>
    
     {% elif data1 == 'mothbeans' %} 
     <div class="uk-container uk-text-center">  <div class="uk-inline uk-card uk-card-default uk-card-body uk-border-rounded">
        <img src="{{ url_for('static', filename='mothbeans.jpg') }}" alt="Urea" class="uk-border-rounded uk-width-1-2@m">
        <a class="uk-position-absolute uk-transform-center" style="left: 50%; text-decoration: none; top: 50%" href="#" uk-marker>Mothbeans</a>
      </div>
     <p style="font-style: italic; color: dodgerblue;text-align: center; ">Recommended Crop: Mothbeans</p>
    
     {% elif data1 == 'mungbean' %} 
     <div class="uk-container uk-text-center">  <div class="uk-inline uk-card uk-card-default uk-card-body uk-border-rounded">
        <img src="{{ url_for('static', filename='mungbean.jpeg') }}" alt="Urea" class="uk-border-rounded uk-width-1-2@m">
        <a class="uk-position-absolute uk-transform-center" style="left: 50%; text-decoration: none; top: 50%" href="#" uk-marker>Mungbean</a>
      </div>
     <p style="font-style: italic; color: dodgerblue;text-align: center; ">Recommended Crop: Mungbean</p>

     {% elif data1 == 'blackgram' %} 
     <div class="uk-container uk-text-center">  <div class="uk-inline uk-card uk-card-default uk-card-body uk-border-rounded">
        <img src="{{ url_for('static', filename='blackgram.jpg') }}" alt="Urea" class="uk-border-rounded uk-width-1-2@m">
        <a class="uk-position-absolute uk-transform-center" style="left: 50%; text-decoration: none; top: 50%" href="#" uk-marker>Blackgram</a>
      </div>
     <p style="font-style: italic; color: dodgerblue;text-align: center; ">Recommended Crop: Blackgram</p>

     {% elif data1 == 'lentil' %} 
     <div class="uk-container uk-text-center">  <div class="uk-inline uk-card uk-card-default uk-card-body uk-border-rounded">
        <img src="{{ url_for('static', filename='lentil.jpg') }}" alt="Urea" class="uk-border-rounded uk-width-1-2@m">
        <a class="uk-position-absolute uk-transform-center" style="left: 50%; text-decoration: none; top: 50%" href="#" uk-marker>Lentil</a>
      </div>
     <p style="font-style: italic; color: dodgerblue;text-align: center; ">Recommended Crop: Lentil</p>

     {% elif data1 == 'pomegranate' %} 
     <div class="uk-container uk-text-center">  <div class="uk-inline uk-card uk-card-default uk-card-body uk-border-rounded">
        <img src="{{ url_for('static', filename='pomegranate.jpg') }}" alt="Urea" class="uk-border-rounded uk-width-1-2@m">
        <a class="uk-position-absolute uk-transform-center" style="left: 50%; text-decoration: none; top: 50%" href="#" uk-marker>Pomegranate</a>
      </div>
     <p style="font-style: italic; color: dodgerblue;text-align: center; ">Recommended Crop: Pomegranate</p>

     {% elif data1 == 'banana' %} 
     <div class="uk-container uk-text-center">  <div class="uk-inline uk-card uk-card-default uk-card-body uk-border-rounded">
        <img src="{{ url_for('static', filename='banana.wep') }}" alt="Urea" class="uk-border-rounded uk-width-1-2@m">
        <a class="uk-position-absolute uk-transform-center" style="left: 50%; text-decoration: none; top: 50%" href="#" uk-marker>Banana</a>
      </div>
     <p style="font-style: italic; color: dodgerblue;text-align: center; ">Recommended Crop: Banana</p>

     {% elif data1 == 'mango' %} 
     <div class="uk-container uk-text-center">  <div class="uk-inline uk-card uk-card-default uk-card-body uk-border-rounded">
        <img src="{{ url_for('static', filename='mango.jpg') }}" alt="Urea" class="uk-border-rounded uk-width-1-2@m">
        <a class="uk-position-absolute uk-transform-center" style="left: 50%; text-decoration: none; top: 50%" href="#" uk-marker>Mango</a>
      </div>
     <p style="font-style: italic; color: dodgerblue;text-align: center; ">Recommended Crop: Mango</p>

     {% elif data1 == 'grapes' %} 
     <div class="uk-container uk-text-center">  <div class="uk-inline uk-card uk-card-default uk-card-body uk-border-rounded">
        <img src="{{ url_for('static', filename='grapes.jpg') }}" alt="Urea" class="uk-border-rounded uk-width-1-2@m">
        <a class="uk-position-absolute uk-transform-center" style="left: 50%; text-decoration: none; top: 50%" href="#" uk-marker>Grapes</a>
      </div>
     <p style="font-style: italic; color: dodgerblue;text-align: center; ">Recommended Crop: Grapes</p>

     {% elif data1 == 'watermelon' %} 
     <div class="uk-container uk-text-center">  <div class="uk-inline uk-card uk-card-default uk-card-body uk-border-rounded">
        <img src="{{ url_for('static', filename='watermelon.jpg') }}" alt="Urea" class="uk-border-rounded uk-width-1-2@m">
        <a class="uk-position-absolute uk-transform-center" style="left: 50%; text-decoration: none; top: 50%" href="#" uk-marker>Watermelon</a>
      </div>
     <p style="font-style: italic; color: dodgerblue;text-align: center; ">Recommended Crop: Watermelon</p>

     {% elif data1 == 'muskmelon' %} 
     <div class="uk-container uk-text-center">  <div class="uk-inline uk-card uk-card-default uk-card-body uk-border-rounded">
        <img src="{{ url_for('static', filename='muskmelon.webp') }}" alt="Urea" class="uk-border-rounded uk-width-1-2@m">
        <a class="uk-position-absolute uk-transform-center" style="left: 50%; text-decoration: none; top: 50%" href="#" uk-marker>Muskmelon</a>
      </div>
     <p style="font-style: italic; color: dodgerblue;text-align: center; ">Recommended Crop: Muskmelon</p>

     {% elif data1 == 'apple' %} 
     <div class="uk-container uk-text-center">  <div class="uk-inline uk-card uk-card-default uk-card-body uk-border-rounded">
        <img src="{{ url_for('static', filename='apple.webp') }}" alt="Urea" class="uk-border-rounded uk-width-1-2@m">
        <a class="uk-position-absolute uk-transform-center" style="left: 50%; text-decoration: none; top: 50%" href="#" uk-marker>Apple</a>
      </div>
     <p style="font-style: italic; color: dodgerblue;text-align: center; ">Recommended Crop: Apple</p>

     {% elif data1 == 'orange' %} 
     <div class="uk-container uk-text-center">  <div class="uk-inline uk-card uk-card-default uk-card-body uk-border-rounded">
        <img src="{{ url_for('static', filename='orange.jpeg') }}" alt="Urea" class="uk-border-rounded uk-width-1-2@m">
        <a class="uk-position-absolute uk-transform-center" style="left: 50%; text-decoration: none; top: 50%" href="#" uk-marker>Orange</a>
      </div>
     <p style="font-style: italic; color: dodgerblue;text-align: center; ">Recommended Crop: Orange</p>

     {% elif data1 == 'papaya' %} 
     <div class="uk-container uk-text-center">  <div class="uk-inline uk-card uk-card-default uk-card-body uk-border-rounded">
        <img src="{{ url_for('static', filename='papaya.jpg') }}" alt="Urea" class="uk-border-rounded uk-width-1-2@m">
        <a class="uk-position-absolute uk-transform-center" style="left: 50%; text-decoration: none; top: 50%" href="#" uk-marker>Papaya</a>
      </div>
     <p style="font-style: italic; color: dodgerblue;text-align: center; ">Recommended Crop: Papaya</p>

     {% elif data1 == 'coconut' %} 
     <div class="uk-container uk-text-center">  <div class="uk-inline uk-card uk-card-default uk-card-body uk-border-rounded">
        <img src="{{ url_for('static', filename='coconut.webp') }}" alt="Urea" class="uk-border-rounded uk-width-1-2@m">
        <a class="uk-position-absolute uk-transform-center" style="left: 50%; text-decoration: none; top: 50%" href="#" uk-marker>Coconut</a>
      </div>
     <p style="font-style: italic; color: dodgerblue;text-align: center; ">Recommended Crop: Coconut</p>

     {% elif data1 == 'cotton' %} 
     <div class="uk-container uk-text-center">  <div class="uk-inline uk-card uk-card-default uk-card-body uk-border-rounded">
        <img src="{{ url_for('static', filename='cotton.jpeg') }}" alt="Urea" class="uk-border-rounded uk-width-1-2@m">
        <a class="uk-position-absolute uk-transform-center" style="left: 50%; text-decoration: none; top: 50%" href="#" uk-marker>Cotton</a>
      </div>
     <p style="font-style: italic; color: dodgerblue;text-align: center; ">Recommended Crop: Cotton</p>

     {% elif data1 == 'jute' %} 
     <div class="uk-container uk-text-center">  <div class="uk-inline uk-card uk-card-default uk-card-body uk-border-rounded">
        <img src="{{ url_for('static', filename='jute.webp') }}" alt="Urea" class="uk-border-rounded uk-width-1-2@m">
        <a class="uk-position-absolute uk-transform-center" style="left: 50%; text-decoration: none; top: 50%" href="#" uk-marker>Jute</a>
      </div>
     <p style="font-style: italic; color: dodgerblue;text-align: center; ">Recommended Crop: Jute</p>

     {% elif data1 == 'coffee' %} 
     <div class="uk-container uk-text-center">  <div class="uk-inline uk-card uk-card-default uk-card-body uk-border-rounded">
        <img src="{{ url_for('static', filename='coffee.webp') }}" alt="Urea" class="uk-border-rounded uk-width-1-2@m">
        <a class="uk-position-absolute uk-transform-center" style="left: 50%; text-decoration: none; top: 50%" href="#" uk-marker>Coffee</a>
      </div>
     <p style="font-style: italic; color: dodgerblue;text-align: center; ">Recommended Crop: Coffee</p>
    {% else %}
      <p>Unexpected prediction value.</p>
    {% endif %}
    </div>  
    
    <footer class="uk-section uk-section-default uk-section-small  uk-background-primary">
        <div class="uk-container uk-text-center">
          <h5 style="color: rgb(197, 197, 197)">Copyright &copy; 2024 Mayank Sharma</h5>
          <ul class="uk-iconnav uk-justify uk-margin-top">
            <li><a style="color: rgb(197, 197, 197)" href="https://github.com/" class="uk-icon-link"><i class="fab fa-github"></i>github</a></li>
            <li><a style="color: rgb(197, 197, 197)" href="https://www.facebook.com/" class="uk-icon-link"><i class="fab fa-facebook-f"></i>facebook</a></li>
            <li><a style="color: rgb(197, 197, 197)" href="https://www.instagram.com/" class="uk-icon-link"><i class="fab fa-instagram"></i>instagram</a></li>
            <li><a style="color: rgb(197, 197, 197)" href="https://www.linkedin.com/" class="uk-icon-link"><i class="fab fa-linkedin-in"></i>linkedin</a></li>
            <li><a style="color: rgb(197, 197, 197)" href="https://twitter.com/" class="uk-icon-link"><i class="fab fa-twitter"></i>twitter</a></li>
          </ul>
        </div>
      </footer>
    </body>
    </html>
    